.preview__container {
  padding-top: 3.2rem;
  padding-bottom: 25.5rem;
  background-image: url("../images/main-bg.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
  @media (min-width: 1441px) {
    max-width: none;
    background-size: cover;
  }
}
.preview-content {
  max-width: 89.2rem;
}
.preview__text {
  margin-top: 3.1rem;
  font-style: italic;
  font-weight: $bold;
}

.preview__search {
  margin-top: 4.6rem;
}
