.stories__container {
  max-width: $desktop-width;
  padding-inline: $padding-inline;
  @include media-mobile {
    max-width: $mobile-width;
    padding-inline: $padding-inline-mb;
  }
}

.stories-inner {
  min-height: 1270px;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0.7))
    ),
    url("../images/fotter-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  @include media-mobile {
    min-height: 628px;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(255, 255, 255, 0.7))
      ),
      url("../images/fotter-bg-mb.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
  }
  @media (min-width: 1441px) {
    background-size: cover;
  }
}

.stories-content {
  padding: 4rem 0;
  @include media-mobile {
    padding: 1rem 0;
  }
}

.story-item {
  @extend %flex;
  @extend %js-content-space-between;
  gap: 4rem;
  &:not(:last-child) {
    padding-bottom: 3rem;
  }
  @include media-mobile {
    gap: 1rem;
  }
}

.story-block {
  max-width: 760px;
}

.story-image {
  filter: drop-shadow(0px 4px 4px $main-color);
  border-radius: $img-radius;
  @include media-mobile {
    max-width: none;
  }
}

.story-block__title {
  color: $main-color;
}

.story-block__text {
  margin-top: 2.4rem;
  color: $main-color;
  @include media-mobile {
    margin-top: 1rem;
    font-size: $fs-main-mobile;
    line-height: 1.1rem;
  }
  &--link {
    font-weight: $bold;
    text-decoration: underline;
    @extend %cursor-pointer;
  }
}

.story__button {
  min-width: 228px;
  @include media-mobile {
    min-width: 0;
    margin-bottom: 3rem;
  }
}

.text-hide {
  @include media-mobile {
    display: none;
  }
}
