.button {
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: inline-block;
  background: $main-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  font-family: $ff-secondary;
  @include font($fs-link, $height-link);
  color: $light-color;
  border: none;
  border-radius: $button-radius;
  @extend %cursor-pointer;
  @extend %transition;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(royalblue, 15%);
    transition: ease-in-out 0.5s;
    z-index: -1;
  }
  &:hover {
    color: $hover-color;
    &::before {
      width: 100%;
    }
  }
  &--small {
    padding: 1rem 3rem;
  }
  &--main {
    padding: 1.35rem 3.25rem;
    @include font($fs-button, 3.2rem);
  }
  &--more {
    display: flex;
    @extend %js-content-center;
    @extend %al-items-center;
    gap: 1.18rem;
    margin: 0 auto;
    padding: 1.4rem 3.4rem 1.3rem;
    @include font($fs-button, 3.2rem);
  }
}
